.explore-page {
    background-color: #131313;
    color: #fff;
    padding-top: 80px;
    h1 {
        margin: 30px 0px 0px;
        text-align: center;
    }
    .action-container {
        display: flex;
        margin: 30px 0px 20px;
        justify-content: center;
        .filter-container,
        .paginate-container {
            margin-inline-end: 20px;
            label {
                margin-inline-end: 15px;
            }
        }
    }
    .launche-list {
        margin-top: 30px;
    }
    .paginate-bar {
        margin: 70px 0px 0px;
        padding: 20px 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        color: #000;
        // border-top: 1px solid rgb(184, 184, 184);

        button {
            font-size: 1.6rem;
            background-color: #fff;
            border: none;
            // font-family: cereal-book;
        }
    }
}
