.explore-page {
    background-color: #131313;
    color: #fff;
    padding-top: 80px;
    h1 {
        margin: 30px 0px 0px;
        text-align: center;
    }
    .action-container {
        display: flex;
        margin: 30px 0px 20px;
        justify-content: center;
    }
    .launche-list {
        margin-top: 30px;
    }
    .paginate-bar {
        margin: 70px 0px 0px;
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        color: #000;
        // border-top: 1px solid rgb(184, 184, 184);

        button {
            font-size: 1.6rem;
            background-color: #fff;
            border: none;
            // font-family: cereal-book;
        }

        p {
            transform: translateX(-50%);
        }
    }

    .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: #fff;
        border-width: 2px;
        // border: none;
    }

    .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
        background-color: #fff;
        padding: 0px 4px;
        border-radius: 4px;
        &.Mui-focused {
            color: rgba(0, 0, 0, 0.6);
            background-color: #fff;
            padding: 0px 4px;
            border-radius: 4px;
        }
    }
    .MuiSelect-select {
        background-color: #fff;
    }
}

@include for-mobile-layout {
    .explore-page .paginate-bar {
        padding: 20px 10px;
    }
}
