.header-container {
    // background-color: black;
    // color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
    // color: #292929;
    background-color: rgba(12, 12, 12, 0.5);
    box-shadow: 0px 10px 10px 10px rgb(12 12 12 / 50%);
    // border-bottom: 20px solid rgb(12, 12, 12, 0.623);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 60px;

    .header-logo {
        width: fit-content;
        height: 100%;
        color: #fff;
        font-weight: 700;
        display: flex;
        align-items: flex-end;
        .logo-svg {
            display: block;
            width: 400px;
            height: 50px;
        }
        .logo-svg:not(:root) {
            overflow: hidden;
        }
        .letter {
            color: #fff;
            text-decoration: none;
        }
        .fill-white {
            fill: #fff;
        }
    }
    .header-nav {
        display: flex;
        // gap: 30px;
        color: #fff;
        padding: 0px 30px;
        font-size: 1.8rem;
        font-weight: 600;
        a {
            padding: 0px 30px;
            font-size: 1.2rem;
            font-weight: 600;
        }
        a:hover {
            text-shadow: 0px 0px 4px;
        }
        &.active {
            text-shadow: 0px 0px 4px;
        }
        &.hamburger:hover {
            text-shadow: 0px 0px 4px;
            cursor: pointer;
        }
    }
    .header-nav-modal {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 40px;
        color: #000;
        background-color: #fff;
        border: 1px solid #000;
        box-shadow: 0px 0px 8px;
        z-index: 20;

        a {
            padding: 10px 30px;
            font-size: 1.2rem;
            font-weight: 600;
        }
        a:hover {
            background-color: lightgrey;
        }
    }

    .header-nav a:not(:first-child) {
        border-left: 1px solid #fff;
    }
    .main-screen {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.35);
        cursor: pointer;
        opacity: 0;
        pointer-events: none;

        transition: opacity 0.6s;
    }
    &.nav-open .main-screen {
        pointer-events: auto;
        opacity: 1;
    }
}

@include for-mobile-layout {
    .header .header-logo .logo-svg {
        display: block;
        width: 200px;
        height: 25px;
    }
}
