.main-hero-container {
    // background-color: black;
    background-image: url("https://cdnuploads.aa.com.tr/uploads/Contents/2021/11/11/thumbs_b_c_93c8d668a11719cfe095ac180f11f7e6.jpg?v=060031");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

.main-hero {
    // background-image: linear-gradient(185deg, black 100%, white 100%  );
    // border-radius: 13px;
    color: white;
    display: flex;
    justify-content: flex-end;

    .hero-action {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        top: 40vh;
        right: 25vw;
        padding: 10px 20px;
        border-left: 1px solid #ffffffd7;
        border-radius: 5px;
        color: #fff;
        background: linear-gradient(90deg, #292929c0 1%,#29292985 5%,#29292962 30%, rgba(0, 0, 0, 0) 80%);
        
        // right: 0px;
    }
    
    // h1{
        // margin-top: 50vh;
        // }
        
        .hero-btn {
            // position: absolute;
            // margin-top: 450px;
            background-color: rgb(255, 255, 255);
            padding: 10px 28px;
            font-weight: 600;
            border-radius: 5px;
            font-size: 1.4rem;
            margin-top: 15px;
            border: none;
            transition: all ease-in-out 0.2s;
            // box-shadow: 0 0 0 ;
            box-shadow: inset 2px 0px 5px 0px #999;
        }
        .hero-btn:hover {
            
            // background-color: rgb(250, 250, 250);
            box-shadow: 5px 0px 10px 0px #292929;
            border-left: 1px solid #ffffffd7;
            border-top: 0.5px solid #ffffffd7;
            // background: linear-gradient(90deg, rgb(190, 190, 190) 1%, rgb(255, 255, 255) 5%);
            // background-color: rgb(194, 194, 194);
            box-shadow: inset 4px 1px 5px 0px #999;
            padding: 12px 30px;
            
        }
        a {
        background: linear-gradient(to right, #25255f 0%,#c23a5c 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
